/* ==============================================
            CONFIGURACIONES GENERALES
=============================================== */
@font-face {
    font-family: "MavenPro-Regular";
    src: url("../fonts/MavenPro-Regular.ttf");
}

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #262339;
    --secondary-color: #0c607b;
}

body {
    font-family: 'Open Sans', serif;
    background-color: #eeeeef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: var(--primary-color);
    text-decoration: none;
}

.contenedor {
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

.button-outline {
    border: 2px solid var(--primary-color);
    padding: .5em 1em;
    border-radius: 2em;
    color: #343a40;
    transition: all .5s;
    font-weight: bold;
}

.button-outline:hover {
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
}

hr {
    border-color: #fff;
}

select {
    margin: 0;
}

/* ====================
         HEADER  
===================== */

.header {
    position: relative;
    width: 100%;
    background-color: #fff;
    font-family: 'MavenPro-Regular', serif;
    font-weight: bold;
    border-bottom: 5px solid var(--secondary-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header .contenedor-logo {
    position: relative;
    width: auto;
    height: 60px;
    padding: 1em 0;
    margin-left: 1em;
}

.header .contenedor-logo .logo {
    position: relative;
    width: inherit;
    height: 100%;
}

.header .btn-menu {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    margin: 0;
    top: 1em;
    right: 1em;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;
}

.header .btn-menu .btn-icon {
    position: relative;
    width: 1.5em;
    height: 2px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background: var(--secondary-color);
    transition: .5s all ease-out;
}

.header .btn-menu .btn-icon::before,
.header .btn-menu .btn-icon::after {
    content: " ";
    position: absolute;
    height: 2px;
    left: 0;
    border-radius: 5px;
    background: var(--secondary-color);
    transition: .5s all ease-in;
}

.header .btn-menu .btn-icon::before {
    width: 1em;
    bottom: 1.25em;
}

.header .btn-menu .btn-icon::after {
    width: 1.25em;
    bottom: .65em;
}

.header .btn-menu:hover .btn-icon,
.header .btn-menu:hover .btn-icon::before,
.header .btn-menu:hover .btn-icon::after {
    width: 1.5em;
    background: var(--primary-color);
}

.header .menu {
    position: relative;
    width: 100%;
    height: 0;
    background: url(../img/background-menu.webp) center center no-repeat, var(--secondary-color);
    background-size: cover;
    overflow: hidden;
    display: block;
    transition: height .5s ease;
}

.header .menu.open {
    height: auto;
}

.header .menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0 1em;
}

.header .menu ul li {
    position: relative;
    text-align: center;
    padding: .5em 0;
}

.header .menu ul li:not(:first-child):not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #0e495d;
    border-bottom: 1px solid #1c728e;
}

.header .menu a {
    color: #fff;
}

.header .menu .button-outline {
    position: relative;
    display: inline-block;
    margin: .5em auto !important;
    border-color: #fff;
}

/* ====================
         SLIDE  
===================== */
.slide {
    position: relative;
    width: 100%;
    height: calc(100vh - 65px);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden;
    background-color: #fff;
}

.item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease;
    margin-top: -50px;
}

.item.active {
    margin-top: 0;
    opacity: 1;
    z-index: 9999;
}

.item .item-image {
    width: 100%;
    height: 100%;
}

.item .container-info-slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1em;
}

.info-slideshow {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-slideshow .item-header {
    font-size: 1.5em;
}

.info-slideshow .item-description {
    font-size: 1em;
    color: var(--secondary-color);
}

.controls {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    bottom: 1em;
    left: 1em;
    right: 0;
    z-index: 99999;
}

.controls ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.controls ul li {
    display: inline-block;
    margin-right: .5em;
    font-family: 'MavenPro-Regular', serif;
    font-size: .75em;
    font-weight: bold;
    text-align: center;
    color: var(--secondary-color);
    transition: all .5s;
    cursor: pointer;
}

.controls ul li.active {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    color: #fff;
    font-size: 1em;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 0 .25em;
}

/* ==============================================
                DATOS SERVICIOS
=============================================== */
.contenedor-datos {
    width: 100%;
    background-color: var(--secondary-color);
    display: none;
}

.datos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

.datos .item-datos {
    position: relative;
    height: 120px;
    padding: 1em;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.datos .item-datos .icon {
    font-size: 1.5em;
    margin-bottom: .25em;
}

.datos .item-datos h3,
.datos .item-datos p {
    color: #fff;
    margin: 0;
    text-align: center;
}

.datos .item-datos h3 {
    font-size: 1.25em !important;
}

.datos .item-datos:nth-child(2n):after {
    content: "";
    border-left: 1px solid #0e495d;
    border-right: 1px solid #1c728e;
    position: absolute;
    top: 10%;
    left: 0;
    height: 80%;
}

/* ==============================================
                SECTIONS
============================================== */
section {
    position: relative;
    color: #666;
    margin: 0 auto !important;
    padding: 1em;
    text-align: justify;
}

.title-section {
    font-size: 1.5em;
    margin-bottom: .25em;
    text-align: center;
}

.title-section.text-white {
    color: #fff;
}

.line-title {
    margin: 0 auto 1em auto;
    width: 5em;
    height: .25em;
    background-color: var(--primary-color);
}

.section-servicios{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.section-servicios .card-servicios {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1em;
    border: 2px solid gainsboro;
    transition: all .5s ease;
}

.section-servicios .card-servicios h4{
    text-align: center;
}

.section-servicios .card-servicios:hover {
    border: 2px solid var(--primary-color);
}

.section-servicios .card-servicios .icon-card {
    font-size: 2em;
    margin-bottom: em;
    color: var(--primary-color);
}

.banner-frase{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/banner-frase.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.banner-frase .contenedor{
    padding: 1em;
}

.banner-frase p{
    font-style: italic;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
}

.banner-frase div{
    text-align: right;
    font-weight: bold;
}

.section-nosotros, 
.section-objetivos {
    overflow: hidden;
    background-color: #fff;
}

.section-nosotros .contenedor, 
.section-objetivos .contenedor {
    display: grid;
    grid-template-columns: 1fr;
}

.section-nosotros .img-section img {
    width: 100%;
    margin-bottom: 1em;
}

/* ==================
        FOOTER
=================== */
.footer {
    background-image: url('../img/background_contacto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    padding: 1em;
}

.footer .contenedor{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}

.info-item{
    position: relative;
    display: flex;
    color: #fff;
    margin: 0 1em 1em 0;
}

.icon-info {
    width: 50px;
    height: 50px;
    margin-right: .5em;
    font-size: 3em;
    text-align: center;
}

.redes-sociales {
    text-align: center;
}

.redes-sociales i {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.redes-sociales i.facebook:hover {
    background: #4267b2;
}

.redes-sociales i.instagram:hover {
    background: linear-gradient(120deg, #575dc4, #ee4949);
}

.redes-sociales i.whatsapp:hover {
    background: #59c358;
}

.form-footer {
    position: relative;
    text-align: center;
    margin: 1.5em 0;
    color: #fff;
}

.group-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin-bottom: 1em;
}

.formcontent {
    position: relative;
    margin-bottom: 1em;
    z-index: 0;
    transition: 3s;
}

.formcontent input,
.formcontent select,
.formcontent textarea {
    width: 100% !important;
    padding: .5em;
    background-color: transparent !important;
    border: 2px solid #fff;
    outline: none;
    transition: all .5s;
    color: #fff;
    resize: none;
}

.formcontent select option {
    background-color: var(--secondary-color);
    background: var(--secondary-color);
}

.formcontent label {
    position: absolute;
    top: .5em;
    left: .5em;
    color: #fff;
    z-index: -1;
    transition: .5s;
}

.formcontent input:focus~label,
.formcontent textarea:focus~label,
.formcontent.active label {
    top: -2em;
    left: .5em;
    font-size: 12px;
    transition: .3s;
    background-color: var(--white-color);
    z-index: 1;
    padding: 0 .25em;
}

.form-footer .btn-contacto {
    position: relative;
    border: none;
    border: 2px solid #fff;
    background-color: transparent !important;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5em 2em;
    transition: .5s all ease;
}

.form-footer .btn-contacto:hover {
    background-color: #fff !important;
    color: var(--primary-color);
}


/* ====================
        MEDIA QUERY  
===================== */
@media only screen and (min-width: 576px) {
    .section-servicios {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-objetivos .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
    }
}


@media only screen and (min-width: 768px) {
    /* Header */
    .header .contenedor {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .contenedor-logo,
    .header .menu {
        display: inline-block;
    }

    .header .contenedor-logo {
        height: 80px;
    }

    .header .menu {
        width: auto;
        height: auto;
        background: none;
    }

    .header .menu ul {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header .menu ul li:not(:last-child) {
        margin-right: 1em;
    }

    .header .menu ul li:not(:first-child):not(:last-child)::after {
        content: "";
        border: 0;
    }

    .header .menu ul li a:not(:last-child) {
        color: var(--secondary-color);
    }

    .header nav ul li div {
        width: 0;
        height: 2px;
        background-color: var(--primary-color);
        transition: all .5s ease;
    }

    .header nav ul li:hover div,
    .header nav ul li:hover a:not(:last-child) {
        width: 100%;
        color: var(--primary-color);
    }

    .header .menu .button-outline {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }

    .header .menu .button-outline:hover {
        color: #fff;
    }

    .header .btn-menu {
        display: none;
    }


    /* Slide */
    .slide {
        height: calc(100vh - 205px);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        overflow: hidden;
    }

    .info-slideshow .item-header {
        font-size: 2em;
    }

    .info-slideshow .item-description {
        font-size: 1.25em;
    }

    .controls {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        bottom: 1em;
        left: 0;
        right: 0;
        padding: 0 1em;
        display: block;
        z-index: 99999;
    }

    .controls ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .controls ul li {
        display: inline-block;
        margin-right: .5em;
        font-family: 'MavenPro-Regular', serif;
        font-size: .75em;
        font-weight: bold;
        text-align: center;
        color: var(--secondary-color);
        transition: all .5s;
        cursor: pointer;
    }

    .controls ul li.active {
        width: 2em;
        height: 2em;
        text-align: center;
        line-height: 2em;
        color: #fff;
        font-size: 1em;
        background-color: var(--primary-color);
        border-radius: 50%;
        padding: 0 .25em;
    }

    /* Datos Servicios*/
    .contenedor-datos {
        display: block;
    }

    .datos {
        grid-template-columns: repeat(4, 1fr);
    }

    .datos .item-datos:not(:first-child):after {
        content: "";
        border-left: 1px solid #0e495d;
        border-right: 1px solid #1c728e;
        position: absolute;
        top: 10%;
        left: 0;
        height: 80%;
    }

    /* Sections */
    .section-servicios {
        grid-template-columns: repeat(3, 1fr);
    }

    .banner-frase .contenedor{
        padding: 3em 1em;
    }

    .banner-frase p{
        font-size: 1.5em;
    }

    .section-nosotros .contenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .section-nosotros .contenedor .img-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Footer */
    .footer {
        padding: 2em 1em 0 1em;
    }

    .footer .contenedor{
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .form-footer{
        order: 2;
    }

    .info-footer{
        order: 1;
    }

    .redes-sociales {
        text-align: left;
    }
}

/* ====================
        PORTRAIT  
===================== */
@media only screen and (orientation: portrait) {
    @media (min-width: 320px) {
        .slide {
            height: 30vh;
        }

        .info-slideshow .item-header {
            font-size: 1em;
        }

        .info-slideshow .item-description {
            display: none;
        }

        .contenedor-datos {
            display: block;
        }
    }

    @media (min-width: 576px) {
        .info-slideshow .item-header {
            font-size: 1.25em;
        }

        .info-slideshow .item-description {
            font-size: 1em;
            display: block;
        }

        .datos {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (min-width: 768px) {
        .slide {
            height: 40vh;
        }

        .info-slideshow .item-header {
            font-size: 2em;
        }

        .info-slideshow .item-description {
            font-size: 1.25em;
        }
    }
}